// body {
//     background: cornsilk;
// }

.wrapper {
    background: rgb(59, 49, 9);
    width: 1000px;
    height: 1000px;
}
.test {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__red {
        width: 50px;
        height: 50px;
        background-color: green;
    }
}

body {
    background-image: url('../../img/map.jpg');
}